$main-color: #f8f9fa;
$sec-color: #091057;
$third-color: #EC8305;

$theme-colors: (
    "mina":hotpink,
    "warning": $third-color,
    "light": $main-color,
    "dark": $sec-color
);

$utilities: (
    "text-align": (responsive: true,
        property: text-align,
        class: text,
        values: (start: right,
            end: left,
            center: center,
        )),
);